*{
    margin: 0;
    padding: 0;
}
body {
  background-color: #fafafa;
}


.top-main {
  background-color: #fefefe;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.about_btn{
    white-space: nowrap;
    margin: 10px 71px 10px 55px;
    width: 80px;
    height: auto;
    font-size: 25px;
    height:fit-content ;
    align-items: center;
    padding: 10px 55px;
    text-align: center;
    font-size: 25px;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: none;
}

.about_img {
  margin-top: 5px;
  height: 20px;
  width: 20px;
}

.send_message_to_users {
padding-left: 15px;
}

.send_message_to_users>div{
    height:fit-content ;
    align-items: left;
    width: auto;
    margin:10px 35px;
    padding: 10px 5px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}
.send_message_to_users>div:hover{
    background-color: rgb(223, 223, 223);
    border-radius: 15px;
}

.send_message_to_users>div>img{
  padding-right: 15px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.profile-main {
  background-color: #fefefe;
  text-align: center;
}

.profile-following {
  padding: 70px 0px 0px 150px;
  float: left;
  font-size: 1.3rem;
}

.following-no {
  font-size: 1.3rem;
}


.profile-main img {
  margin-top: 20px;
  height: 170px;
  width: 170px;
border-radius: 100%;
text-align: center;
}

.profile-followers {
  padding: 70px 150px 0px 0px;
  float: right;
  font-size: 1.3rem;

}

.followers-no {
  font-size: 1.3rem;
}

.profile-about {
  background-color: #fefefe;
  padding-bottom: 1rem;
}

.profile-username {
  font-size: 3rem;
  text-align: center;
}

.profile-name {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 8px;
}

.profile-bio {
  text-align: center;
  font-size: 1.2rem;
  white-space: nowrap;
  margin-top: 13px;
}

.main-right {
  text-align: center;
}

.follow-button{
    margin:  90px 70px 0px 70px;
    height: auto;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(215 144 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    width: 60%;
}

.award-button{
    margin:  30px 70px 0px 70px;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(255 255 255);
    color: rgb(215 144 255);
    border: 1px solid rgb(215 144 255);
    border-radius: 6px;
    width: 65%;
}

.award-text-button {
  color: rgb(215 144 255);
  margin-top: 8px;
}

.main-img {
  height: 20px;

}

.main{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: fit-content;
  margin-top: 2.5rem;
  
  
}
.main-left{
  visibility: hidden;
}

.left_ghost {
  /* position: sticky; */
}

.left{
    height: 88vh;
    overflow-y: auto;
    /* position:sticky; */
    width: 80%;
    background-color: #fafafa;
}
.right{
    background-color: #fafafa;
    height: 88vh;
    overflow-y: auto;
    right: 0;
    width: 100%;

}
.comments_hardcoded{
    height: fit-content;
    align-items: center;
    width: auto;
    margin: 0px 10px 10px 10px;
    padding: 10px 15px;
    text-align: center;
    font-size: 22px;
    background-color: rgb(215 144 255);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    border-radius: 5px;
}

.comments_img {
  height: 20px;
  width: 20px;
}

.joined_community {
  font-family: 'Roboto Slab', serif;
  padding-left: 20px;
}

.joined_community>a>div{
    height:fit-content ;
    align-items: center;
    width: auto;
    margin: 7px;
    padding: 10px 25px;
    text-align: left;
    font-size: 17px;
    display: flex;
}

.time_comments {
  font-size: 15px;
}

.joined_community>a>div>img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
    }
a{
    text-decoration: none;
}
a:visited{
    color:black ;
}
.joined_community >a>div:hover{
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}
.center{
    height: fit-content;
    background-color: #fafafa;

}
.posts{
    padding: 0px;
    background-color: #fafafa;
}

.post-title {
text-align: center;
font-size: 2rem;
}

.post1{
    height: fit-content;
    width: auto ;
    margin: 20px 10px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px  rgb(201, 201, 201);
    padding: 10px;
    background-color: #ccfeff;
}
.postnameinfo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.post_text{
    margin: 0px 10px;
    font-size: 30px;
    /* border: 1px solid black;  */
}

.post_img{
    width: 100%;
    height: auto;
}
.post_img>img{

    height: 100%;
    width: 100%;
}

.post_subtext{
    margin: 10px;
    font-size: 20px;
    /* border: 1px solid black; */
}

.post_btns{
    display: flex;
    gap: 10px;
}
.post_upvote , .post_downvote, .post_comment, .post_save{
    width: 25px;
    height: 25px;
}
.post_upvote >img, .post_downvote>img, .post_comment>img,.post_save>img{
    width: 100%;
    height: 100%;
}

.awards-main {
  /* position: fixed; */
  height: 400px;
}

.heading-awards {
  height:fit-content ;
  align-items: center;
  width: 80%;
  margin: 0px 10px 10px 20px;
  padding: 10px 0px;
  text-align: center;
  font-size: 22px;
  background-color: rgb(215 144 255);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border-radius: 5px;
}

.award-list {
  margin: 0 0 0 50px;
}

.award-cell {
  height:fit-content ;
  width: auto;
  padding: 10px 50px;
  padding-left: 80px;
  text-align: left;
  font-size: 17px;
}

.award-img {
  font-size: 20px;
}

.award-img img{
  padding-top: 5px;
  padding-right: 15px;
  height: 30px;
}

::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(214, 214, 214);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146);
  }
